<nav class="navbar navbar-expand-lg bg-info navbar-light sticky-top">
    <div class="container-fluid">
        <!-- Logo -->
        <div class="photo-nav-container me-3">
            <a href="/ppulists" class="photo-nav-link">
                <img src="/images/ppuhomephoto.jpg" alt="PPU Home Photo" class="photo-nav-image">
            </a>
        </div>

        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Desktop Search Form -->
        <form class="d-none d-lg-flex flex-grow-1 mx-3 search-form" action="/search" method="GET" role="search">
            <div class="input-group has-validation position-relative">
                <input class="form-control me-2 search-inp" type="search" placeholder="Search posts..." name="q"
                    value="<%= locals.searchQuery || '' %>" aria-label="Search posts" autocomplete="off" required>
                <div id="searchSuggestionsDesktop"
                    class="position-absolute w-100 bg-white shadow rounded border"
                    style="top: 100%; left: 0; z-index: 1000; display: none; max-height: 300px; overflow-y: auto;">
                </div>
                <button class="btn btn-primary search-btn" type="submit">
                    <i class="bi bi-search"></i><span class="ms-1">Search</span>
                </button>
                <div class="invalid-feedback">Please enter a search term</div>
            </div>
        </form>

        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <!-- Mobile Search Form -->
            <form class="d-lg-none my-2 w-100 search-form" action="/search" method="GET" role="search">
                <div class="input-group has-validation position-relative">
                    <input class="form-control search-inp" type="search" placeholder="Search posts..." name="q"
                        value="<%= locals.searchQuery || '' %>" aria-label="Search posts" autocomplete="off" required>
                    <div id="searchSuggestionsMobile"
                        class="position-absolute w-100 bg-white shadow rounded border"
                        style="top: 100%; left: 0; z-index: 1000; display: none; max-height: 300px; overflow-y: auto;">
                    </div>
                    <button class="btn btn-primary search-btn" type="submit">
                        <i class="bi bi-search"></i><span class="visually-hidden">Search</span>
                    </button>
                    <div class="invalid-feedback">Please enter a search term</div>
                </div>
            </form>

            <!-- Nav Links -->
            <ul class="navbar-nav ms-auto align-items-lg-center">
                

                <% if (!currUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><b>Log In</b></a>
                    </li>
                    
                <% } else { %>
                    <li class="nav-item">
                    <a class="nav-link" href="/ppulists/newpost">
                        <i class="fa-solid fa-plus me-1"></i>Add New Post
                    </a>
                </li>

                
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><b>Log Out</b></a>
                    </li>
                    
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<!-- Search Suggestion Script -->
<script>
    // [You already provided a complete and working suggestion script]
    // It can remain exactly as it is
</script>