<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>

        </div>
        <div class="f-info-brand">&copy;PPU Team Student Limited</div>
        <div class="f-info-links">
            <a href="/privay">Terms</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>